img[data-lazyloaded]{
    opacity: 0;
}

img.litespeed-loaded{
    -webkit-transition: opacity .5s linear 0.2s;
    -moz-transition: opacity .5s linear 0.2s;
    transition: opacity .5s linear 0.2s;
    opacity: 1;
}


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



body input[type="text"].wpcf7-not-valid{
	border-color:red !important;
}

.swal2-styled.swal2-confirm{
	background-color:#2F6CB4 !important; 
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(47, 108, 180, 0.5) !important; 
}

.wpcf7 form .wpcf7-response-output,
.wpcf7-not-valid-tip
{
	display:none !important;
}

.wpcf7 form .wpcf7-response-output{
	font-size:12px;
	background-color:red;
	border:0px none;
	line-height:1.2;
	margin:10px 0px 0px;
	width:100%;
	border-radius:5px;
	color:#fff;
	padding:10px;
}

.btn_load{
	position: absolute;   
	width: 100%;
	top:0px;
	opacity:0;
	left:0px;
    height: 100%;
}

.lds-ellipsis {
    display: flex;
	align-items:center;
	justify-content:center;
    position: absolute;
	width: 78px;
	left: 50%;
	margin-left: -39px;
	top:0px;
    height: 100%;
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

.lds-ellipsis div {
    position: absolute;
    top: 50%;
	margin-top:-6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.wpcf7-form.submitting button[type="submit"] .btn_text{
	opacity:0;
}
.wpcf7-form button[type="submit"] .btn_load{
	opacity:0;
}
.wpcf7-form.submitting button[type="submit"] .btn_load{
	opacity:1;
}

ul.slick-dots{
	display:flex;
	justify-content:center;
	padding:0px;
	position:relative;
}

ul.slick-dots, ul.slick-dots li{
	list-style-type:none;
}

ul.slick-dots li{
	margin:0px;
}

ul.slick-dots li button{
	padding:0px;
	margin:0px;
}

ul.slick-dots li button:before{
	display:none;
}

.mobile_tool, .mobile_menu_overlay, .mobile_menu{
	display:none;
}


@media (max-width: 990px) { 

.mobile_menu{
	display:block;
}

	/* mobile menu toggle button */
.menu-toggle {
	position:relative;
	display: flex;
	justify-content:center;
	align-items:center;
	width: 30px;
	cursor:pointer;
	height: 30px;
	margin: 0px;
	z-index:2;
}
.menu-toggle span {
	margin: 0 auto;
	position: relative;
	top: 1px;
	transition-duration: 0s;
	transition-delay: .2s;
  transition: background-color 0.3s;
}
.menu-toggle span:before, .menu-toggle span:after {
	position: absolute;
	content: '';
}
.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
	width: 30px;
	height: 3px;
	background-color: #fff;
	border-radius:3px;
	display: block;
  opacity: 1;
}
.menu-toggle span:before {
	margin-top: -9px; 
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;  
}
.menu-toggle span:after {
	margin-top: 9px;
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;  
}

.menu-toggle-active span {
  background-color: rgba(0,0,0,0);
	transition: 0.3s background-color;
}
.menu-toggle-active span:before {
	margin-top: 0;
	transform: rotate(45deg);
	transition-delay: 0, .2s;
}
.menu-toggle-active span:after {
	margin-top: 0;
	transform: rotate(-45deg);
	transition-delay: 0, .2s;
}


.mobile_menu.active {
    left: 0px;
}
.mobile_menu {
    position: fixed;
    left: -300px;
    top: 72px;
    width: 300px;
    background-color: #fff;
    color: #484848;
    z-index: 1000;
    height: calc(100% - 55px);
    display: block;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.mobile_menu_overlay {
    background: #070C08;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
}

.mobile_menu_in {
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: auto;
}


	.mobile_menu ul li, .mobile_menu ul{
		list-style-type:none;
		margin:0px;
		padding:0px;
	}
	
	.mobile_tool{
		display:flex;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		z-index:2000;
		background-color:#fff;
		justify-content:center;
		height: 72px;
	}
	
	.mobile_tool .mt_item_wrap{
		position:absolute;
		align-items:center;
		top:0px;
		height:100%;
		left:70px;
		display:flex;
		width:140px;
	}
	
	
	.mobile_tool .mt_item_wrap .mt_item{
		margin-right:20px;
	}
	
	.mobile_tool .order_button{
		color:#fff;
		position:absolute;
		top:0px;
		right:0px;
		width:180px;
		height:100%;
		font-size:14px;
		border-radius:0px;
	}
	
	
	
	.mobile_tool_container{
		max-width:798px;
		padding-left:15px;
		padding-right:15px;
		width:100%;
		position:relative;
		display:flex;
		justify-content:space-between;
		margin:0 auto;
	}
	
	
	.m_tool_item{
		display:flex;
		align-items:center;
	}
	
	.m_tool_item img{
		width:30px;
		height:30px;
	}
	
	body{
		margin-top:72px;
	}
	
	
.mobile_menu ul li a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    display: block;
	font-weight:500;
    color: #333;
    border-bottom: 1px solid rgba(165, 97, 125, 0.1);
    font-size: 15px;
    line-height: 19px;
}
.mobile_menu ul li a:hover {
	background-color:rgba(47, 108, 180, 0.2);
}


.mobile_menu ul li ul {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}

.mobile_menu ul li.menu-item-has-children > a {
    padding-right: 50px;
    background: url("../img/right-chevron.svg") right 20px center no-repeat;
    background-size: auto;
    background-size: auto;
    background-size: 12px;
}

.mobile_menu ul li a.back {
    padding-left: 50px;
    background: url("../img/left-chevron.svg") left 20px center no-repeat;
        background-size: auto;
    background-size: 12px;
    box-sizing: border-box;
}

.mobile_menu ul li ul.loaded {
    left: 0px;
}
.mobile_menu ul li ul.activity {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 75px .5rem 0;
    pointer-events: none;
}	
}


@media (max-width: 768px) { 
 .hide_mobile{
	 display:none !important;
 }
}