@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700;800&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');


/** common **/

body.front-page, .acfe-fc-preview{
	line-height:1.4;
	font-family: var(--theme_font_family);
}

header{
	position:relative;
	z-index:10;
}

.order_button{
	position:relative;
}

/** common end**/



/** top_header_style_1 **/

.top_header.top_header_style_1{
	height:56px;
	align-items:center;
	display:flex;
	justify-content:space-between;
}

.top_header.top_header_style_1 .top_header_row{
	align-items:center;
	display:flex;
	justify-content:space-between;
}

.top_header.top_header_style_1 .v_visually_impaired{
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.top_header.top_header_style_1 .menu_list ul{
	display:flex;
	padding:0px;
	margin:0px;
}

.top_header.top_header_style_1 .menu_list ul li, .top_header .menu_list ul{
	list-style-type:none;
}

.top_header.top_header_style_1 .menu_list ul li{
	margin:0px 24px 0px 0px;
}

.top_header.top_header_style_1 .menu_list ul li a{
	text-transform:uppercase;
	font-size: 14px; 
	font-weight: 600; 
	text-decoration:none;
}

.top_header.top_header_style_1 .menu_list ul li a:hover{
	opacity:0.8;
}

.top_header.top_header_style_1 .v_visually_btn{
	display:flex;
	text-transform:uppercase;
	align-items:center;
	font-size: 14px; 
	font-weight: 700; 
}

.top_header.top_header_style_1 .v_visually_btn img{
	margin-right:8px;
	max-height:24px;
}

/** top_header_style_1 end **/



/** main_header_style_1 **/

.main_header.main_header_style_1{
	padding:16px 0px;
}

.main_header.main_header_style_1 .main_header_header_row{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
	margin:0 -20px 0px;
}

.main_header.main_header_style_1 .main_header_item{
	padding-left:20px;
	padding-right:20px;
}

.main_header.main_header_style_1 .main_header_item_group{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

.main_header.main_header_style_1 .main_header_item_logo a{
	display:flex;
	align-items:center;
	text-decoration:none !important;
}

.main_header.main_header_style_1 .main_header_item_logo a span{
	display:block;
}

.main_header.main_header_style_1 .main_header_item_logo a span.logo_description{
	padding-left:16px;
	font-size:17px;
	margin-left:16px;
	color:#333;
	border-left:1px solid #333;
}

.main_header.main_header_style_1 .main_header_item_logo a span.logo_description .logo_description_someinfo{
	color:#B02422;
	font-weight: 600; 
	font-size:16px;
}

.main_header.main_header_style_1 .main_header_item_right{
	text-align:right;
}

.main_header.main_header_style_1 .main_header_item_mailto a{
	font-size: 18px;
	line-height:1.2;
	color: #333;
	font-weight: 500; 
	text-decoration:none !important;
}

.main_header.main_header_style_1 .main_header_item_phone a{
	font-size: 24px; 
	line-height:1.2;
	color: #333;
	font-weight: 800; 
	text-decoration:none !important;
}

.main_header.main_header_style_1 .main_header_item_group.main_header_item_button_group{
	margin:0 -8px;
}

.main_header.main_header_style_1 .main_header_item_group.main_header_item_button_group .main_header_item{
	padding-left:8px;
	padding-right:8px;
}

.main_header.main_header_style_1 .order_button{
	border-radius: 10px; 
	height: 56px; 
	width: 167px; 
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none !important;
	color:#fff;
	font-weight: 800; 
	text-transform:uppercase;
	font-size: 15px; 
}

.main_header.main_header_style_1 .order_button:hover{
	
}

/** main_header_style_1 end **/