	@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
	
	#tinymce{
		font-family: 'Jost', sans-serif;
		font-size: 19px; 
		line-height:147.368%;
		padding-left:15px;
		padding-right:15px;
	}
	
	#tinymce *{
		box-sizing: border-box;
	}
	
	:after, :before{
		box-sizing: border-box;
	}
	
	.mce-content-body table{
		width:100% !important;
	}
	
	.mce-content-body table tr td{
		min-height:60px !important;
	}
	
	.row-editor{
		margin:0 -15px 15px;
		display:flex;
		min-width: 100%;
	}

	.row-style-3 {
		margin-top: 64px;
	}
	
	.row-style-3 .editor-title{
		text-align:center;
		padding-bottom:17px;
		color: #121E2D;
		font-size: 22px;
		position:relative;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom:22px;
		text-transform: uppercase; 
	}
	
	.row-style-3 .editor-title:after{
		content:'';
		display:block;
		width: 65px;
		height: 3px; 
		left:50%;
		position:absolute;
		bottom:0px;
		transform:translateX(-50%);
		background-color:#D00;
	}
	
	.row-style-3 ul{
		margin:0px;
		padding:0px;
	}
	
	.row-style-3 ul li{
		padding-left:58px;
		position:relative;
		min-height:40px;
		margin-bottom:10px;
		display:flex;
		align-items:center;
	}
	
	.row-style-3 ul li:before{
		content:'';
		position:absolute;
		width:40px;
		left:0px;
		top:0px;
		height:40px;
		background-color:transparent;
		background-image:url(../img/arrow-left.svg);
		background-repeat:no-repeat;
		background-size:40px 40px;
	}
	
	.editor-icon{
		display:flex;
		justify-content:center;
		margin-bottom:28px;
	}
	
	.col-6-editor{
		padding:0 15px 15px;
		width:50%;
		border:1px dotted rgba(0, 0, 0, 0.1);
	}
	
	.col-4-editor{
		box-sizing: border-box;
		border:1px dotted rgba(0, 0, 0, 0.1);
		padding:0 15px 15px;
		width:33.3333333333333333333333%;
	}
	
	.editor-item{
		border-bottom:1px dotted rgba(0, 0, 0, 0.1);
	}
	
	.row-style-wrap{
		width:100%;
	}
	
	.row-style-2{
		padding-top:38px;
		margin-top:18px;
		position:relative;
	}
	
	.row-style-2:before{
		content:'';
		box-sizing: border-box;
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:8px;
		background-color:#00509D;
		opacity:0.1;
	}
	
	.row-style-2 .col-4-editor{
		position:relative;
		font-size: 16px; 
	}
	
	.row-style-2 .col-4-editor:before{
		content:'';
		display:block;
		position:absolute;
		top:-55px;
		background-color:#fff;
		width: 40px;
		height: 40px;
		border-radius:20px;
		border:11px solid #00509D;
	}

	
	blockquote{
		position:relative;
		padding:0 0px 0px 18px;
		margin: 0 0 27px;
		border-left:8px solid #D00;
		font-weight: 500; 
		font-size:24px;
		color:#121E2D;
		line-height:1.25;
	}